<?xml version="1.0" encoding="utf-8" ?>
<log4net>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
        <bufferSize value="1"/>
        <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <connectionString value="Data Source=(local);Initial Catalog=MobileRetentionOrderDB;Integrated Security=True"/>
        <!-- <connectionString value="Data Source=136.139.22.33;Initial Catalog=MobileRetentionOrderDB;Persist Security Info=True;User ID=csc;Password=cscpass"/> -->
        
        <commandText value="INSERT INTO Log ([Date],[Thread],[Identity],[HostName],[ClientIP],[Path],[Level],[Logger],[Message],[Exception],[order_id],[cid]) VALUES (@log_date, @thread, @identity, @hostname, @clientip, @path, @log_level, @logger, @message, @exception,@order_id,@cid)"/>
        <parameter>
            <parameterName value="@log_date"/>
            <dbType value="DateTime"/>
            <layout type="log4net.Layout.RawTimeStampLayout">
              <conversionPattern value="%date"/>
            </layout>
        </parameter>
        <parameter>
            <parameterName value="@thread"/>
            <dbType value="String"/>
            <size value="20"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%thread"/>
            </layout>
        </parameter>
        <parameter>
            <parameterName value="@identity"/>
            <dbType value="String"/>
            <size value="20"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%property{Identity}"/>
            </layout>
        </parameter>
        <parameter>
            <parameterName value="@hostname"/>
            <dbType value="String"/>
            <size value="40"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%property{log4net:HostName}"/>
            </layout>
        </parameter>
        <parameter>
            <parameterName value="@clientip"/>
            <dbType value="String"/>
            <size value="40"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%property{ClientIP}"/>
            </layout>
        </parameter>
        <parameter>
            <parameterName value="@path"/>
            <dbType value="String"/>
            <size value="255"/>
            <layout type="log4net.Layout.PatternLayout" value="%property{Path}">
                <conversionPattern value="%path"/>
            </layout>
        </parameter>
        <parameter>
            <parameterName value="@log_level"/>
            <dbType value="String"/>
            <size value="50"/>
            <layout type="log4net.Layout.PatternLayout" value="%level">
                <conversionPattern value="%level"/>
            </layout>
        </parameter>
        <parameter>
            <parameterName value="@logger"/>
            <dbType value="String"/>
            <size value="255"/>
            <layout type="log4net.Layout.PatternLayout" value="%logger">
                <conversionPattern value="%logger"/>
            </layout>
        </parameter>
        <parameter>
            <parameterName value="@message"/>
            <dbType value="String"/>
            <size value="500"/>
            <layout type="log4net.Layout.PatternLayout" value="%message">
                <conversionPattern value="%message"/>
            </layout>
        </parameter>
        <parameter>
            <parameterName value="@exception"/>
            <dbType value="String"/>
            <size value="4000"/>
            <layout type="log4net.Layout.PatternLayout" value="%property{Exception}">
              <conversionPattern value="%Exception"/>
          </layout>
        </parameter>
      <parameter>
        <parameterName value="@order_id"/>
        <dbType value="String"/>
        <size value="10"/>
        <layout type="log4net.Layout.PatternLayout" value="%property{order_id}">
        <conversionPattern value="%order_id"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@cid"/>
        <dbType value="String"/>
        <size value="10"/>
        <layout type="log4net.Layout.PatternLayout" value="%property{cid}">
          <conversionPattern value="%cid"/>
        </layout>
      </parameter>
        <evaluator type="log4net.Core.LevelEvaluator">
            <threshold value="INFO"/>
        </evaluator>
    </appender>    
  <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
    <to value="Philip.SW.Fu@pccw.com,Eugene.Lo@pccw.com,Ben.HS.Wong@pccw.com"/>
    <from value="PCCW-OICSupport@pccw.com"/>
    <subject value="Retention Web Log .Net System Error"/>
    <smtpHost value="136.139.22.21"/>
    <Port value="2525"/>
    <bufferSize value="1"/>
    <lossy value="true"/>
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="ERROR"/>
    </evaluator>
    <layout type="log4net.Layout.PatternLayout,log4net">
      <conversionPattern value="HostName: %property{log4net:HostName}%newlineLevel :%level%newlineMessage: %message %newlineLogger: %logger%newlineDate: %date%newlineException: %property{Exception}%newlineOrder_id: %property{order_id}%newlinecid: %property{cid}%newline%newline" />
    </layout>
  </appender>
    <root>
        <level value="WARN"/>
        <appender-ref ref="AdoNetAppender"/>
        <appender-ref ref="SmtpAppender" />
    </root>
</log4net>
